<h1 style="text-align: center; margin-top: 20px;">Cart</h1>
<div class="card" *ngFor="let product of data;index as i">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <h6 class="card-title">{{product.category}}</h6>
    <p class="card-text">
        {{product.description}}
    </p>
    <p class="card-text">
        Quantity: {{product.quantity}}
    </p>
    <p class="card-text">{{product.price*product.quantity| currency:'USD':true: '1.2-2'}}</p>
    <span style="display: inline;">
        <button type="button" (click)="addToCart(product.id)" class="btn btn-primary">Add Another To Cart</button> 
        <button type="button" (click)="removeFromCart(product.id)" class="btn btn-primary">Remove From Cart</button>  
        <button type="button" (click)="addToWishlist(product.id)" class="btn btn-primary">Add To Wishlist</button>  
    </span>

  </div>
</div>
<div id="order">
    <button type="button" (click)="placeOrder()" class="btn btn-primary">Place Order</button> 
</div>